<div id="<%= dom_id article %>" class="custom-article-card ">
  <div class="custom-article-header">
    <h5 class="custom-article-title"><i class="fas fa-file-alt"></i> <%= article.title %></h5>
  </div>
  <div class="custom-article-body">
    <p class="custom-article-field"><strong>Title:</strong> <%= article.title %></p>
    <p class="custom-article-field"><strong>Description:</strong> <%= article.description %></p>
  </div>
</div>
