<% content_for :title, "Editing Article" %>

<div class="d-flex justify-content-center mt-5">
  <div class="card custom-card">
    <div class="card-body">
      <h1 class="custom-card-title text-center mb-4">Editing Article</h1>

      <%= render "form", article: @article %>

      <div class="text-center mt-4">
        <%= link_to "Show this article", @article, class: "btn btn-primary btn-sm me-2" %>
        <%= link_to "Back to articles", articles_path, class: "btn btn-secondary btn-sm" %>
      </div>
    </div>
  </div>
</div>
