<% content_for :title, "New article" %>

<h1>New article</h1>

<%= render "form", article: @article %>

<br>

<div class="d-flex justify-content-start mt-4">
  <%= link_to articles_path, class: "btn btn-primary btn-sm me-2", title: "Back to articles" do %>
    <i class="fas fa-arrow-left"></i> Volver<!-- Ãcono de volver -->
  <% end %>
</div>
